@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: "Raleway", sans-serif;
	font-family: "Source Code Pro", monospace;
}

:root {
	--bg-color: #2d2e32;
	--second-bg-color: #2d2e32;
	--text-color: #fefefe;
	--main-color: #64f4ac;
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }

    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5rem;
    }
}

@media(max-width:991px){
    nav{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }

    .works-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin-left: 8rem;
    }

    .services{
        padding-bottom: 7rem;
    }
    .testimonials .wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .contact form .input-box{
        width: 100%;
    }

    .contact form textarea{
        width: 100%;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width:895px){
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content h4{
        font-size: 2rem;
    }

    .about-content p{
        max-width: 600px;
        margin: 0 auto;
    }

    .home-img img{
        width: 56vw;
    }

    .about-body{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .about-img img{
        width: 56vw;
    }

    .heading{
        margin-bottom: 3rem;
        font-size: 6rem;
    }
    
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
